#mydropdown option:hover {
  background: #c8c8c8;
}

#mydropdown option {
  padding: 5px;
}
#categories {
  display: inline-block;
  overflow-y: scroll;
  height: 6em;
  padding-right: 0.5em;
  background: lightgrey;
}
#categories p {
  margin: 0;
}
#categories [type="checkbox"] {
  position: absolute;
  left: -9999px;
}
#categories label {
  display: inline-block;
  width: 100%;
  padding: 0.2em;
  margin: 0;
  border: solid lightgrey 0.5px;
}
#categories label:hover {
    background: silver;
    border: solid black 0.5px;
}
#categories input[type="checkbox"]:focus + label {
    background: silver;
}
#categories input[type="checkbox"]:checked + label {
    background: lightblue;
}
#categories input[type="checkbox"]:focus:checked + label {
    background: skyblue;
}
#categories input[type="checkbox"]:checked:hover + label {
    background: skyblue;
}

br {
  display: block;
  content: "";
  margin-top: 5px;
}

#results .result {
  border: 1px solid black;
  padding: 5px;
  height: 211px;
  width: 172px;
  margin-left: 5px;
  margin-bottom: 1em;
  background-color: #ff8080;
}

.sidebar {
  border: 1px solid black;
  padding: 5px;
  height: 199px;
  width: 35px;
  float: left;
  background-color: #b3e6b3;
}

.content {
  border: 1px solid black;
  height: 199px;
  width: 103px;
  margin-left: 52px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #cce6ff;
}
.content p {
  margin-top: 0;
}
.result ol {
  padding: 0;
  list-style-position: inside;
}
.result ol > li {
  margin-top: 1em;
}
.result ol > li:before {
  content: "";
  display: block;
  margin-bottom: 0.3em;
}
.hide {
  display: none;
}